.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    padding: 1.25em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.75em 0 1em 0;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao {
    margin-right: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-weight: 700;
    font-size: 1.125em;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 0.875em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0 1em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

.descricao__estrelas {
    margin-bottom: 0.5em;
    position: initial;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.625rem;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 4rem auto;
    }
    .botoes__ancora:active {
        background-color: var(--azul);
        }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 20vw 1rem 20vw;
        align-items: center;
    }

    .swiper {
        width: 50%;
    }

    .swiper-pagination {
        margin: 1rem 0;
    }

    .descricao {
        margin: 1rem;
    }

    .descricao__titulo {
        font-size: 2rem;
    }

    .descricao__texto {
        font-size: 1rem;
    }

    .card {
        width: 55%;
        margin-left: 3rem;
    }
}